body {
  font-family: "Open Sans", sans-serif; }

.main {
  background-image: url(../img/main-bg.jpg);
  background-size: cover; }
  .main-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 100%;
    margin-top: 47px; }
    .main-header li {
      display: inline-block; }
      .main-header li a {
        color: white;
        text-decoration: none;
        margin-right: 10px;
        font-size: 16px; }
        .main-header li a:hover {
          padding: 5px 20px;
          border: 1px solid white;
          border-radius: 15px;
          font-weight: bold;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s;
          -webkit-transform-origin: center top;
          -ms-transform-origin: center top;
          transform-origin: center top; }
  .main-menu_hidden {
    display: none; }
    .main-menu_hidden .menu-btn {
      display: block;
      width: 30px;
      height: 30px;
      background-color: white;
      border-radius: 50%;
      position: relative; }
      .main-menu_hidden .menu-btn span {
        position: absolute;
        top: 50%;
        margin-top: -1px;
        left: 50%;
        margin-left: -8px;
        width: 16px;
        height: 2px;
        background-color: #464646; }
        .main-menu_hidden .menu-btn span::before, .main-menu_hidden .menu-btn span::after {
          content: '';
          position: absolute;
          top: 50%;
          margin-top: -1px;
          left: 50%;
          margin-left: -8px;
          width: 16px;
          height: 2px;
          background-color: #464646;
          -webkit-transition: 0.5s;
          -o-transition: 0.5s;
          transition: 0.5s; }
        .main-menu_hidden .menu-btn span::before {
          -webkit-transform: translateY(-5px);
          -ms-transform: translateY(-5px);
          transform: translateY(-5px); }
        .main-menu_hidden .menu-btn span::after {
          -webkit-transform: translateY(5px);
          -ms-transform: translateY(5px);
          transform: translateY(5px); }
    .main-menu_hidden .menu-btn_active span::before {
      -webkit-transform: rotate(-35deg);
      -ms-transform: rotate(-35deg);
      transform: rotate(-35deg);
      width: 10px;
      -webkit-transform-origin: left bottom;
      -ms-transform-origin: left bottom;
      transform-origin: left bottom; }
    .main-menu_hidden .menu-btn_active span::after {
      -webkit-transform: rotate(35deg);
      -ms-transform: rotate(35deg);
      transform: rotate(35deg);
      width: 10px;
      -webkit-transform-origin: left top;
      -ms-transform-origin: left top;
      transform-origin: left top; }
  .main-title {
    text-align: center; }
    .main-title h1 {
      color: white;
      font-size: 35px;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      margin-top: 228px;
      line-height: 70px; }
      .main-title h1 span {
        color: white;
        margin-bottom: 220px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
        display: block;
        text-transform: none;
        line-height: 28px; }
  .main-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .main-circle .circle {
      width: 36px;
      height: 36px;
      border-radius: 36px;
      background-color: #19bd9a;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-bottom: 77px; }
      .main-circle .circle:hover {
        background-color: #139075; }

.aboutus-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around; }

.aboutus h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 12px;
  text-align: left;
  color: #333b46;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  margin-top: 115px;
  margin-left: 100px;
  margin-bottom: 25px; }

.aboutus span {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: left;
  color: #81868e;
  font-family: "Open Sans", sans-serif;
  display: block; }

.aboutus-btn {
  margin-top: 33px;
  border-radius: 20px;
  width: 140px;
  height: 37px;
  background-color: white;
  border: 1px solid #464646; }
  .aboutus-btn:hover {
    background-color: #e6e6e6; }

.aboutus-image {
  margin-top: 100px;
  margin-bottom: 57px; }

.title h2 {
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 4px;
  line-height: 12px;
  text-align: left;
  color: #333b46;
  font-family: "Source Sans Pro", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 41px;
  padding-top: 80px; }

.title span {
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #81868e;
  text-align: center;
  display: block;
  margin-bottom: 60px; }

.details {
  background-color: #f3f3f3; }
  .details__icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 61px; }
  .details__block {
    margin-bottom: 101px; }
    .details__block h3 {
      font-size: 20px;
      font-weight: 400;
      text-align: left;
      color: #464646;
      font-family: "Open Sans", sans-serif; }
    .details__block span {
      font-size: 14px;
      font-weight: 400;
      line-height: 25px;
      text-align: left;
      color: #81868e;
      font-family: "Open Sans", sans-serif; }

.circle {
  width: 53px;
  height: 53px;
  border-radius: 50%;
  background-color: #81868e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 13px; }
  .circle:hover {
    background-color: #19bd9a; }

.projects__block {
  background-size: cover;
  height: 319px;
  margin-bottom: 113px; }
  .projects__block:nth-child(1) {
    background-image: url(../img/project-first.jpg); }
  .projects__block:nth-child(2) {
    background-image: url(../img/project-second.jpg); }
  .projects__block:nth-child(3) {
    background-image: url(../img/project-third.jpg); }

.services__content {
  padding-bottom: 145px; }

.services {
  background-color: #f3f3f3; }
  .services .left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .services__circle {
    margin-bottom: 17px; }
  .services .right-column h3 {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #464646;
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 40px; }
  .services .right-column span {
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    color: #81868e;
    margin-left: 20px;
    margin-bottom: 40px;
    display: block; }
  .services .right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.prg h5 {
  text-align: center;
  font-size: 16px;
  color: #81868e;
  font-family: "Open Sans", sans-serif;
  line-height: 45px; }

.progress1,
.progress2,
.progress3 {
  position: relative;
  margin: 0px 10px;
  width: 122px;
  height: 122px;
  border-radius: 50%;
  background-color: #19bd9a; }
  .progress1::before,
  .progress2::before,
  .progress3::before {
    position: absolute;
    content: '';
    background-color: #19bd9a;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    clip: rect(0, 61px, 122px, 0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(250deg);
    -ms-transform: rotate(250deg);
    transform: rotate(250deg);
    z-index: 1; }
  .progress1::after,
  .progress2::after,
  .progress3::after {
    position: absolute;
    content: '';
    background-color: #047378;
    width: 122px;
    height: 122px;
    border-radius: 50%;
    clip: rect(0, 61px, 122px, 0);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg); }
  .progress1 .center,
  .progress2 .center,
  .progress3 .center {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 102px;
    height: 102px;
    background-color: white;
    border-radius: 50%;
    z-index: 2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 25px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #81868e; }
    .progress1 .center span,
    .progress2 .center span,
    .progress3 .center span {
      font-size: 15px; }

.progress2::before {
  position: absolute;
  content: '';
  background-color: #19bd9a;
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }

.progress3::before {
  position: absolute;
  content: '';
  background-color: #19bd9a;
  -webkit-transform: rotate(310deg);
  -ms-transform: rotate(310deg);
  transform: rotate(310deg); }

.team {
  background-image: url(../img/BG-dark.jpg);
  background-size: cover; }
  .team .team__content {
    padding-bottom: 80px;
    padding-left: 100px; }
    .team .team__content h3 {
      color: #f3f3f3;
      font-size: 20px;
      font-family: "Source Sans Pro", sans-serif;
      text-transform: uppercase;
      padding-top: 80px;
      padding-bottom: 59px; }
    .team .team__content span {
      color: #81868e;
      font-family: "Open Sans", sans-serif;
      font-size: 16px;
      display: block; }
    .team .team__content strong {
      color: #a4a5a5; }

.team__image {
  position: relative; }
  .team__image img {
    position: relative;
    bottom: 10%; }

.portfolio {
  background-color: #f3f3f3; }

.portfolio__list ul {
  display: inline-block; }

.portfolio__list li {
  list-style: none;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  color: #81868e;
  margin-right: 17px;
  display: inline-block;
  padding-bottom: 50px; }
  .portfolio__list li::after {
    content: '';
    width: 100%;
    height: 2px;
    background-color: #19bd9a;
    display: block;
    -webkit-transform: translateY(20px) scale(0);
    -ms-transform: translateY(20px) scale(0);
    transform: translateY(20px) scale(0);
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s; }
  .portfolio__list li:hover::after {
    -webkit-transform: translateY(20px) scale(1);
    -ms-transform: translateY(20px) scale(1);
    transform: translateY(20px) scale(1); }

.portfolio__galery img {
  margin-bottom: 15px; }

.portfolio__wrap {
  position: relative; }

.wrap__text {
  position: absolute;
  top: 0;
  height: 96%;
  text-align: left;
  background: rgba(0, 0, 0, 0.8);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0); }
  .wrap__text .line {
    width: 24px;
    height: 1px;
    background-color: #19bd9a;
    margin-left: 10%; }
  .wrap__text h4 {
    margin-top: 5%;
    margin-left: 10%;
    color: #19bd9a;
    font-size: 20px;
    font-family: "Source Sans Pro", sans-serif;
    text-transform: uppercase;
    opacity: 1; }
  .wrap__text span {
    color: #81868e;
    font-size: 12px;
    font-family: "Open Sans", sans-serif;
    display: block;
    padding: 10%; }
  .wrap__text .circle__portfolio, .wrap__text .circle__portfolio1 {
    display: inline-block;
    margin-left: 10%;
    width: 29px;
    height: 28px;
    border-radius: 50%;
    background-color: black;
    margin-top: 3%; }
    .wrap__text .circle__portfolio:hover, .wrap__text .circle__portfolio1:hover {
      background-color: #1a1a1a; }
    .wrap__text .circle__portfolio img, .wrap__text .circle__portfolio1 img {
      margin-bottom: 0px;
      margin-left: 25%; }
  .wrap__text .circle__portfolio1 {
    margin-left: 0px; }

.portfolio__wrap:hover .wrap__text {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s; }

.picture-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.skills {
  padding-bottom: 170px; }

.skills-data {
  padding-top: 5%; }
  .skills-data h4 {
    color: #464646;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    text-align: right; }
  .skills-data h5 {
    font-size: 14px;
    color: #81868e;
    font-family: "Source Sans Pro", sans-serif;
    font-style: italic;
    text-align: right; }
  .skills-data span {
    font-size: 14px;
    color: #81868e;
    font-family: "Source Sans Pro", sans-serif;
    text-align: right;
    display: block; }

progress {
  height: 4px;
  background-color: #00FEFD;
  width: 80%;
  margin-left: 20%; }

progress::-webkit-progress-value {
  background-color: #19bd9a; }

progress::-webkit-progress-bar {
  background-color: #e1e4e9; }

.skills-progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 20%;
  margin-top: 5%; }
  .skills-progress span {
    display: inline-block;
    margin-bottom: -10px; }

.testimonials {
  background-color: #f3f3f3;
  padding-bottom: 91px; }

.testimonials__content {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.testimonials__img {
  padding: 52px 50px 134px 101px; }
  .testimonials__img img {
    border-radius: 50%; }

.testimonials__text {
  padding-top: 59px;
  padding-right: 116px; }
  .testimonials__text span {
    color: #81868e;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    display: block; }
  .testimonials__text strong {
    color: #19bd9a;
    font-size: 16px;
    display: block;
    padding: 10px 0px; }

.testimonials__text span:nth-child(3) {
  color: #464646;
  font-size: 14px;
  font-family: "Open Sans", sans-serif; }

.news {
  background-image: url(../img/BG-news.png);
  background-size: cover; }

.news__title {
  margin-left: 5%; }
  .news__title h2 {
    text-align: left;
    color: #f3f3f3; }
  .news__title span {
    text-align: left;
    color: #b2b3b3; }

.news__content {
  width: 50%;
  padding-left: 15%;
  padding-bottom: 10%; }
  .news__content span {
    display: block;
    font-family: "Open Sans", sans-serif;
    padding-bottom: 5px; }
  .news__content h4 {
    color: #e1e4e9;
    font-size: 20px;
    font-family: "Open Sans", sans-serif; }

.news__content span:nth-child(2) {
  color: #3b3d40;
  text-transform: uppercase; }
  .news__content span:nth-child(2) span {
    color: #19bd9a;
    display: inline-block;
    font-style: italic; }

.news__content span:nth-child(3) {
  color: #464646;
  font-size: 14px;
  font-weight: 300;
  font-family: "Source Sans Pro", sans-serif; }

.news__content span:nth-child(4) {
  color: #81868e;
  font-size: 14px; }

.price {
  background-color: #f3f3f3;
  padding-bottom: 100px; }

.price__block {
  background-color: white;
  margin-bottom: 20px;
  overflow: hidden;
  height: 320px;
  position: relative; }
  .price__block h5 {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    background-color: #19bd9a;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    padding: 23px 0px;
    font-weight: 700; }
  .price__block h4 {
    text-transform: uppercase;
    font-size: 43px;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    color: #19bd9a;
    padding-top: 43px; }
  .price__block span {
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    color: #81868e;
    display: block;
    padding-bottom: 125px;
    text-align: center;
    margin-top: -15px; }

.block__content_hidden {
  padding: 10px 0px;
  display: block;
  position: relative;
  top: 100%; }
  .block__content_hidden span {
    font-size: 14px;
    padding: 5px;
    margin-top: 5px; }
  .block__content_hidden .price__btn {
    background-color: #19bd9a;
    text-align: center;
    padding: 23px 0px;
    color: white;
    margin-top: 20px;
    margin-bottom: -10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    border: none; }
    .block__content_hidden .price__btn:hover {
      background-color: #139075; }

.price__block:hover .block__content {
  display: none; }

.price__block:hover .block__content_hidden {
  top: 0%;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  position: relative; }

.subscribe {
  background-image: url(../img/BG-subscribe.jpg);
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 100px; }
  .subscribe__title h2 {
    color: white; }
  .subscribe__email {
    width: 30%;
    background-color: transparent;
    display: inline-block;
    color: #cfd3d4;
    margin-left: 5px;
    font-size: 14px; }
  .subscribe__btn {
    display: inline-block;
    width: 15%;
    color: white;
    background-color: #19bd9a;
    padding: 7px;
    font-size: 14px;
    -webkit-transform: translateY(-1px);
    -ms-transform: translateY(-1px);
    transform: translateY(-1px); }
    .subscribe__btn:hover {
      background-color: #139075; }

.contacts {
  background-color: #f3f3f3;
  padding-bottom: 100px; }
  .contacts img {
    width: 100%; }
  .contacts h4 {
    color: #464646;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    padding: 30px 0px; }
  .contacts span {
    color: #81868e;
    font-size: 14px;
    font-family: "Open Sans", sans-serif;
    text-align: center;
    display: block; }
  .contacts__info {
    background-color: white;
    padding-bottom: 30px; }
  .contacts__block {
    margin-bottom: 20px; }

.big-form {
  padding: 100px 0px; }
  .big-form__area {
    margin: 30px 0px; }
  .big-form__button {
    padding: 10px 0px;
    background-color: #19bd9a;
    color: white;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    border: none; }

.scrollup {
  width: 40px;
  height: 40px;
  opacity: 0.3;
  position: fixed;
  bottom: 50px;
  right: 100px;
  display: none;
  text-indent: -9999px;
  background: url(../img/icon_top.png) no-repeat; }

.contacts__wrap {
  position: relative; }

.contacts__wrap img:nth-child(2) {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 18%;
  margin-left: 50%;
  -webkit-transform: translateX(-20px) scaleY(0);
  -ms-transform: translateX(-20px) scaleY(0);
  transform: translateX(-20px) scaleY(0); }

.contacts__wrap:hover img:nth-child(2) {
  -webkit-transform: translateX(-20px) scaleY(1);
  -ms-transform: translateX(-20px) scaleY(1);
  transform: translateX(-20px) scaleY(1);
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s; }

@media screen and (max-width: 1000px) {
  .main-menu_hidden {
    display: block; }
  .main-list {
    display: none; }
  .subscribe {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .subscribe__btn {
      display: block;
      width: 30%;
      margin-left: 35.3%;
      margin-top: 10px; }
  .aboutus-content h2, .title h2, .details h2, .right-column h2, .team__content h2, .skills h2, .news__content h2, .price__block h2, .block__content_hidden h2, .subscribe__email h2, .subscribe__btn h2, .contacts h2 {
    font-size: 22px; }
  .aboutus-content span, .title span, .details span, .right-column span, .team__content span, .skills span, .news__content span, .price__block span, .block__content_hidden span, .subscribe__email span, .subscribe__btn span, .contacts span {
    font-size: 18px; }
  .aboutus-content h3, .title h3, .details h3, .right-column h3, .team__content h3, .skills h3, .news__content h3, .price__block h3, .block__content_hidden h3, .subscribe__email h3, .subscribe__btn h3, .contacts h3 {
    font-size: 22px; }
  .aboutus-content h4, .title h4, .details h4, .right-column h4, .team__content h4, .skills h4, .news__content h4, .price__block h4, .block__content_hidden h4, .subscribe__email h4, .subscribe__btn h4, .contacts h4 {
    font-size: 22px; }
  .aboutus-content h5, .title h5, .details h5, .right-column h5, .team__content h5, .skills h5, .news__content h5, .price__block h5, .block__content_hidden h5, .subscribe__email h5, .subscribe__btn h5, .contacts h5 {
    font-size: 22px; } }
